:root {
  --primaryColor: #2c97de;
  --secundaryColor: #2cbf6d;
  --ligthColor: #ffff;
  --bgColorGray: #f2f3f7;
  --bgColorDark: #2b2f3e;
  --yellow: #efc663;
  --green: #2cbf6d;
  --red: #e16070;
  --purple: #9677df;
}
