@import url("../variables.css");
@import url("../general.css");
@import url("../utility.css");

.container {
  max-width: 1280px;
  margin: auto;
  padding: 10px 50px 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

/* VIDEO */
.container-video {
  padding: 70px 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
/* INFO */

.info {
  background-color: var(--bgColorGray);
}

.container-info {
  padding: 50px 0;
  width: 100%;
}

.container-frame {
  justify-content: center;
  align-items: center;
  margin: auto;
  gap: 100px;
}

.container-frame img {
  width: 40%;
}

.content {
  width: 40%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

.content h2 {
  margin-bottom: 20px;
  font-size: 2em;
  font-weight: 600;
}
.content p {
  text-align: justify;
  line-height: 1.5;
}
